---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import PhotosSummary from '../components/PhotosSummary.astro';
import RecentPosts from '../components/RecentPosts.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col content-center flex-wrap max-w-7xl m-auto">
		<div class="max-w-lg">
			<Header />
			<hr style="border-style: solid; border-top-width: 1px;">
			<PhotosSummary />

		</div>
		<div class="flex md:flex-row flex-wrap w-full max-w-7xl flex-grow">
			<div class="md:w-2/6 p-4 text-left"></div>
			<div class="md:w-4/6 p-4 text-center flex-grow">
			</div>
		  </div>
		  <RecentPosts />
	<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-CVVH6DSYJ0"></script>
		<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-CVVH6DSYJ0');
		</script>
	</body>
</html>
