---
import BaseHead from '../components/BaseHead.astro';
import ThinHeader from '../components/ThinHeader.astro';
import PhotosSummary from '../components/PhotosSummary.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}

			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body class="flex flex-col content-center flex-wrap max-w-3xl m-auto">
		<main class="w-full max-w-3xl flex-grow">
			<ThinHeader />
			<p>I primarily shoot with the following cameras:</p>
			<p class="italic ml-5">iPhone 12 Pro (always with me)</p>
			<p class="italic ml-5">Sony α7II (mirrorless)</p>
			<p class="italic ml-5">Insta 360 X3 (360 camera)</p>
			<p>I mostly use Adobe Lightroom CC and Darkroom to edit my photos. Here's a selection:</p>
			<PhotosSummary />
		</main>
		<Footer />
	</body>
</html>
