---
import BaseHead from '../components/BaseHead.astro';
import ThinHeader from '../components/ThinHeader.astro';
import Footer from '../components/Footer.astro';
import { SITE_META_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/main.css';
---

<html lang="en">
	<head>
		<BaseHead title={SITE_META_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}

			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body class="flex flex-col content-center flex-wrap max-w-3xl m-auto dark:bg-slate-800">
		<main class="w-full max-w-3xl flex-grow dark:text-slate-300">
			<ThinHeader />
			<h1 class="text-6xl text-center my-10">Work</h1>
			<p class="italic text-center mb-5">this page is in progress. please check back later.</p>	
			<p><span class="text-gray-400 uppercase">Technologies: </span>Expertise in SAAS web technologies: JavaScript, CSS, HTML5, Sass, nodejs, various frameworks (Angular, YUI, Emberjs, backbone, React, Next.js), HTTP, APIs, JSON, JSONP, PHP, Python, Apache, nginx, CSRF, CSP.</p>
			<p><span class="text-gray-400 uppercase">Tech lead: </span>Deep experience running projects for small teams as a tech lead: hiring, mentoring, leading engineers from all levels and skillsets. Work closely with C-level executives for roadmaps and project timelines. Ship projects in phases, for user testing and performance testing. Work closely with designers, marketing, support, finance and all product related teams.
			<p><span class="text-gray-400 uppercase">Domains Expertise: </span></p>
			<p>Expertise in building social products at scale such as product features, user network actions, home feed, profile pages, SEO, trust & safety features.</p>
			<p>Expertise in building Subscriptions tech including pricing strategies, worldwide Tax Policies implementation, VAT, tax-exempt rules, tax nexuses, financial regulations around invoicing and refunds, currencies management, subscription lifecycle (purchase, handling changes of billing cycles, immediate cancellation or at term, updating payment methods), payment methods (such as PayPal integrations, Credit cards, Digital Wallets like Apple Pay/Google Pay), use of SDKs (such as Stripe, Braintree, Digital River, PayPal) ; large payment methods migration projects. email notifications rules globally ;</p>
			<p>Expertise in Advertising as publisher and adtech, SSPs, DSPs, Prebid, Google Ad Manager, Consent Management (TCF 2.0, IAB 3.0)</p>
			<p>Expertise in Data Enginering, from instrumentation using behavorial data services like Snowplow to data pipelines with AWS S3/Glue to data engineering with MySQL, Aurora, Postgres on Redshift, and data automation for user segmentation or recommendation systems via ranking and scoring.</p>
			<p><span class="text-gray-400 uppercase">App Security: </span>Expertise in Content Security policies on large products with user generated content. CSRF, Cookies, Authentication, HackerOne programs. SPF records for email auth.</p>
			<p class="my-10">I was born and raised in Bordeaux, France, and have had the opportunity to work for startups in Montreal, QC, Vancouver, BC, and Lausanne, Switzerland before joining Yahoo and finally settling in the United States in 2014.</p>
		</main>
		<Footer />
	</body>
</html>
<style>
	h1 {
		animation: fadeIn .3s ease-in both;
	}
</style>