---
const today = new Date();
---
<h2 class="text-2xl my-10 text-gray-500"><a href="/photos">Contact me</a></h2>
<p>You can reach me on twitter, or by email at my last name dot my first name at gmail.com</p>