---
const today = new Date();
---

<footer class="my-10 text-gray-300">
	&copy; {today.getFullYear()} Florent Lamoureux. <a href="https://astro.build/" target="_new">Built with AstroJS</a>
</footer>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CVVH6DSYJ0"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CVVH6DSYJ0');
</script>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
