---
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from "./ThemeToggle.astro";
---
<nav class="mb-5">
    <div class="flex items-center">
        <div class="">
            <HeaderLink href="/work" class="text-l text-gray-400 uppercase group mr-5">Work <span class="text-xs">&#8594;</span></HeaderLink>
        </div>
        <div class="">
            <HeaderLink href="/photos" class="text-l text-gray-400 uppercase group mx-5">Photos <span class="text-xs">&#8594;</span></HeaderLink>
        </div>
        <div class="">
            <HeaderLink href="/blog" class="text-l text-gray-400 uppercase group mx-5">Blog <span class="text-xs">&#8594;</span></HeaderLink>
        </div>
        <div class="ml-auto">
            <ThemeToggle />
        </div>
    </div>
</nav>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	/* a.active, a:hover {
		font-weight: bolder;
		text-decoration: underline;
	} */
</style>
