---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import BaseHead from './BaseHead.astro';
import BlogPost from '../layouts/BlogPost.astro';
---

<header>
	<h1 class="text-6xl text-left font-bold">
		{SITE_TITLE}
	</h1>
	<p class="my-10 text-xl">I am a Staff Software Engineer based in San Francisco, California with my wife and our daughter.</p>
	<p>I am currently working at <a href="https://flickr.com" class="group flickr-link" target="_new">Flickr<span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></a> as a tech lead, primarily on front-end and data engineering initiatives focused on revenue generation and monetization through subscriptions and advertising.</p>
	<p class="my-10">I was born and raised in Bordeaux, France, and have had the opportunity to work for startups in Montreal, QC, Vancouver, BC, and Lausanne, Switzerland before joining Yahoo and finally settling in the United States in 2014.</p>
	<p class="my-10">I am passionate about photography, music, movies, cycling and traveling, among other things.</p>
	<nav>
		<HeaderLink href="/" class="text-l text-gray-300 uppercase">About</HeaderLink><span class="text-gray-300">&#x2022</span>
		<HeaderLink href="https://twitter.com/flrent" target="_blank" class="text-l text-gray-300 uppercase group">Twitter <span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></HeaderLink><span class="text-gray-300">&#x2022</span>
		<HeaderLink href="https://github.com/flrent" target="_blank" class="text-l text-gray-300 uppercase group">GitHub <span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></HeaderLink><span class="text-gray-300">&#x2022</span>
		<HeaderLink href="https://www.linkedin.com/in/florentlamoureux" target="_blank" class="text-l text-gray-300 uppercase group">LinkedIn <span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h1 {
		margin: 0.5em 0;
		color: #e45b00;
	}
	.flickr-link {
		color: #0063dc;
	}
</style>
