---
import HeaderNav from './HeaderNav.astro';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<HeaderNav />
	<div class="max-w-lg">
		<h1 class="text-2xl md:text-3xl lg:text-6xl text-left font-bold">
			<a href="/">{SITE_TITLE}</a>
		</h1>
		<p class="mt-10 mb-5 sm:my-5 md:my-10 text-xl dark:text-slate-200">I am a Staff Software Engineer and tech lead based in San Francisco, California.</p>
		<p class="dark:text-slate-300">I am currently working at <a href="https://flickr.com" class="group flickr-link dark:text-slate-300" target="_new">Flickr<span class="hidden group-hover:inline text-xs no-underline flickr-link-arrow">&#8599;</span></a>, primarily on front-end and data engineering initiatives focused on revenue generation and monetization through subscriptions and advertising. <span class="text-flxorange"><a href="/work" class="text-flxorange">Learn more about me<span class="text-xs">&#8594;</span></a></span></p>
		<p class="my-5 dark:text-slate-300">I am passionate about photography, music, cycling and traveling, among other things.</p>
		<p class="text-gray-400 find-me">FIND ME ON:</p>
		<nav>
			<HeaderLink href="https://twitter.com/flrent" target="_blank" class="text-l text-gray-300 uppercase group mr-2 sm:mr-0">Twitter <span class="hidden group-hover:inline text-xs no-underline text-bold">&#8599;</span></HeaderLink><span class="text-gray-300 sm:hidden">/</span>
			<HeaderLink href="https://github.com/flrent" target="_blank" class="text-l text-gray-300 uppercase group m-2 sm:mr-0">GitHub <span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></HeaderLink><span class="text-gray-300 sm:hidden">/</span>
			<HeaderLink href="https://www.linkedin.com/in/florentlamoureux" target="_blank" class="text-l text-gray-300 uppercase group m-2 sm:mr-0">LinkedIn <span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></HeaderLink><span class="text-gray-300 sm:hidden">/</span>
			<HeaderLink href="https://flickr.com/photos/flrent" target="_blank" class="text-l text-gray-300 uppercase group m-2 sm:mr-0">Flickr <span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></HeaderLink>
		</nav>
		<hr style="border-style: solid; border-top-width: 1px;" class="mt-10 dark:border-slate-600">
	</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h1 {
		animation: slideFadeIn 1s ease-out both;
		margin: 0.5em 0;
		color: #e45b00;
	}
	p {
		animation: slideFadeIn 1.3s ease-out both;
	}
	.flickr-link {
		color: #0063dc;
	}
	.flickr-link-arrow {
		color: #ff0084;
	}

	.find-me, nav {
		animation: fadeIn 3s ease-out both;
	}
</style>
