---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="mb-5">
		<HeaderLink href="/work" class="text-l text-gray-400 uppercase group mr-5">Work <span class="text-xs">&#8594;</span></HeaderLink>
		<HeaderLink href="/photos" class="text-l text-gray-400 uppercase group mx-5">Photos <span class="text-xs">&#8594;</span></HeaderLink>
		<HeaderLink href="/blog" class="text-l text-gray-400 uppercase group mx-5">Blog <span class="text-xs">&#8594;</span></HeaderLink>
	</nav>
	<h1 class="text-2xl md:text-3xl lg:text-6xl text-left font-bold">
		<a href="/">{SITE_TITLE}</a>
	</h1>
	<p class="mt-10 mb-5 sm:my-5 md:my-10 text-xl">I am a Staff Software Engineer based in San Francisco, California.</p>
	<p>I am currently working at <a href="https://flickr.com" class="group flickr-link" target="_new">Flickr<span class="hidden group-hover:inline text-xs no-underline flickr-link-arrow">&#8599;</span></a> as a tech lead, primarily on front-end and data engineering initiatives focused on revenue generation and monetization through subscriptions and advertising. <a href="/work">Learn more about me<span class="text-xs">&#8594;</span></a> </p>
	<p class="my-10">I am passionate about photography, music, movies, cycling and traveling, among other things. Previously, I've lived and worked for startups in France, Canada, and Switzerland.</p>
	<p class="text-gray-300">FIND ME ON:</p>
	<nav>
		<HeaderLink href="https://twitter.com/flrent" target="_blank" class="text-l text-gray-300 uppercase group">Twitter <span class="hidden group-hover:inline text-xs no-underline text-bold">&#8599;</span></HeaderLink><span class="text-gray-300">/</span>
		<HeaderLink href="https://github.com/flrent" target="_blank" class="text-l text-gray-300 uppercase group">GitHub <span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></HeaderLink><span class="text-gray-300">/</span>
		<HeaderLink href="https://www.linkedin.com/in/florentlamoureux" target="_blank" class="text-l text-gray-300 uppercase group">LinkedIn <span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></HeaderLink><span class="text-gray-300">/</span>
		<HeaderLink href="https://flickr.com/photos/flrent" target="_blank" class="text-l text-gray-300 uppercase group">Flickr <span class="hidden group-hover:inline text-xs no-underline">&#8599;</span></HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h1 {
		margin: 0.5em 0;
		color: #e45b00;
	}
	.flickr-link {
		color: #0063dc;
	}
	.flickr-link-arrow {
		color: #ff0084;
	}
</style>
