---
---

<h2 class="text-2xl my-10 text-flxorange"><a href="/photos">Photos <span class="text-xs">&#8594;</span></a></h2>
<section class="max-w-4xl">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
            <div>
                <a href="https://www.flickr.com/photos/flrent/52530462838/" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/65535/52530462838_f8c4f6c63d_w.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.flickr.com/photos/flrent/52530462838/" target="_new"></a><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/65535/52549289549_7c3b762c05_w.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.flickr.com/photos/flrent/50586701588/" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/65535/50586701588_582db26909_w.jpg" alt=""></a>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <a href="https://www.flickr.com/photos/flrent/50367717518/" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/65535/50367717518_abdebe3f92_w.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.flickr.com/photos/flrent/51501015107/" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/65535/51501015107_30098ca5d9_w.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.flickr.com/photos/flrent/13545680493/" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/2905/13545680493_0b811fe7d2_w.jpg" alt=""></a>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <a href="https://www.flickr.com/photos/flrent/52903176066/" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/65535/52903176066_ee203762f2_w.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.flickr.com/photos/flrent/48139568301" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/65535/48139568301_f7761a3941_w.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.flickr.com/photos/flrent/29874305522" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/5796/29874305522_71a2838b0a_w.jpg" alt=""></a>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <a href="https://www.flickr.com/photos/flrent/52130063831/" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/65535/52130063831_8157fff7fd_w.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.flickr.com/photos/flrent/46875406415/" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/65535/46875406415_1cf9c01642_w.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.flickr.com/photos/flrent/21213111539" target="_new"><img class="h-auto max-w-full rounded-lg" src="https://live.staticflickr.com/585/21213111539_4905285520_w.jpg" alt=""></a>
            </div>
        </div>
    </div>
</section>